<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="ADMIN_CSS/font.css">
    <link rel="stylesheet" href="ADMIN_CSS/xadmin.css">
    <link rel="stylesheet" href="ADMIN_CSS/page.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="ADMIN_LIB/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="ADMIN_JS/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="x-body layui-anim layui-anim-up">
    <blockquote class="layui-elem-quote">
        <span class="x-red"></span>
        详细信息：
    </blockquote>

    <fieldset class="layui-elem-field">
        <legend>基本信息</legend>
        <div class="layui-field-box">
            <table class="layui-table">
                <tbody>
                <tr>
                    <th>任务ID</th>
                    <td>{$taskInfo.id}</td>
                </tr>
                <tr>
                    <th>用户</th>
                    <td>{$taskInfo.username}</td>
                </tr>
                <tr>
                    <th>老师</th>
                    <td>{$taskInfo.parentName}</td></tr>
                <tr>
                    <th>任务内容</th>
                    <td>{$taskInfo.content}</td></tr>
                <tr>
                    <th>是否完成</th>
                    <td>
                        {if condition="($taskInfo.status == 0)"}
                        未完成
                        {elseif condition="($taskInfo.status ==1)"}
                        已完成
                        {/if}
                    </td></tr>
                <tr>
                    <th>等级</th>
                    <td>
                        {if condition="($taskInfo.level == 1)"}
                        一级任务
                        {elseif condition="($taskInfo.level == 2)"}
                        二级任务
                        {/if}
                    </td></tr>
                <tr>
                    <th>评价</th>
                    <td>
                        {if condition="($taskInfo.assess == 1)"}
                        差评
                        {elseif condition="($taskInfo.assess == 2)"}
                        中评
                        {elseif condition="($taskInfo.assess == 3)"}
                        好评
                        {/if}
                    </td></tr>
                <tr>
                    <th>评价内容</th>
                    <td>{$taskInfo.assess_content}</td></tr>
                <tr>
                    <th>游客</th>
                    <td>
                        {volist name='visitor' id='v'}
                         <span>{$v}</span>
                        {/volist}
                    </td>
                </tr>
                <tr>
                    <th>点赞人</th>
                    <td>
                        {volist name='$point' id='v'}
                        <span>{$v}</span>
                        {/volist}
                    </td>
                </tr>
                <tr>
                    <th>点赞数</th>
                    <td>{$taskInfo.point_num}</td></tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <button  class="layui-btn"  lay-submit onclick="return_back()">返回</button>
</div>

</body>
</html>
<script>
    //返回
    function return_back() {
        history.back(-1)
    }
</script>